# JWT
JWT_SECRET_KEY=change_me

# SMTP
SMTP_PASSWD=change_me

# OAuth
GOOGLE_CLIENT_SECRET=change_me
GITHUB_CLIENT_SECRET=change_me

# NGROK
NGROK_AUTHTOKEN=change_me

# MariaDB
MARIADB_ROOT_PASSWORD=change_me
MARIADB_PASSWORD=change_me

# Oracle
ORACLE_PASSWORD=change_me
ORACLE_APP_PASSWORD=change_me

# Grafana
GRAFANA_ADMIN_PASSWORD=change_me

# RabbitMQ
RABBITMQ_PASSWORD=change_me
