JWT_SECRET_KEY=your_jwt_secret_key
SMTP_PASSWD=your_smtp_password
GOOGLE_CLIENT_SECRET=your_google_client_secret
GITHUB_CLIENT_SECRET=your_github_client_secret
NGROK_AUTHTOKEN=your_ngrok_authtoken
MARIADB_ROOT_PASSWORD=your_mariadb_root_password
MARIADB_PASSWORD=your_mariadb_password
ORACLE_PASSWORD=your_oracle_root_password
ORACLE_APP_PASSWORD=your_oracle_app_password
GRAFANA_ADMIN_PASSWORD=your_grafana_admin_password
RABBITMQ_PASSWORD=your_rabbitmq_password
